@font-face {
  font-family: apoloHairline;
  src: url(./fonts/ApocLCTrial-Hairline.ttf);
}
@font-face {
  font-family: apoloHairlineItalic;
  src: url(./fonts/ApocLCTrial-HairlineItalic.ttf);
}

@font-face {
  font-family: apoloDark;
  src: url(./fonts/ApocLCTrial-Dark.otf);
}

@font-face {
  font-family: apoloRegular;
  src: url(././fonts/ApocLCTrial-Regular.otf);
}

@font-face {
  font-family: apoloBoldItalic;
  src: url(./fonts/ApocLCTrial-UltraBoldItalic.otf);
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .gift-wrapper {
    font-size: 40px;
  }
  #countdown{
    font-size:30px!important;
  }
}

.carousel {
  padding: 0 0 0 2px;
  width: 100vw !important;
  height: fit-content;
  /* justify-content: center;
    align-items: center; */
}

.carousel#carousel-responsive {
  width: auto;
}
.carousel li,
.carousel > div > div {
  color: #fff;
  /* padding:2px 0 2px 2px; */
  min-width: 100vw;
  min-height: 400px;
}

.carousel#carousel-vertical {
  height: 40vh;
  padding: 0;
}

.credits-wrapper {
  display: flex;
  min-width: 80vw;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

.carousel img {
  border-radius: 30px;
}

.carousel span {
  display: block;
  height: 100px;
  font-size: 100px;
  line-height: 150px;
  text-align: center;
}

img {
  position: flex;
  left: 10px; /* the x */
  top: 50px; /* the y */
}
.carousel img {
  min-width: 200px;
  max-height: 350px;
}

.pulse {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f3f3f3;
  font-family: sans-serif;
  text-transform: uppercase;
  animation: animate-pulse 7s linear infinite;
  cursor: pointer;
}

@keyframes animate-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(212, 215, 213, 0.7), 0 0 0 0 rgba(232, 97, 97, 0.7);
  }
  40% {
    box-shadow: 0 0 0 30px rgba(234, 68, 68, 0),
      0 0 0 0 rgba(218, 212, 219, 0.7);
  }
  80% {
    box-shadow: 0 0 0 30px rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: apoloRegular;
  color: white !important;
}

#bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.wrapper {
  margin: 2em;
  display: flex;
  z-index: 1;
  min-height: 40vh;
}

.main {
  z-index: 2;
  width: 350px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  font-size: 10px;
  font-family: helvetica;
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  font-kerning: normal;
  height: max-content;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #f4f4f4;
  height: 1px;
}

#border-info {
  bottom: 2.5em;
  right: 2em;
  font-size: 10px;
  letter-spacing: 0.2em;
  position: absolute;
}

#info {
  top: 10px;
  right: 20px;
  position: absolute;
}

#reflections {
  top: 20px;
  left: 20px;
  position: absolute;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(126, 128, 227); /* Fallback color */
  background-color: rgba(111, 111, 111, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 340px;
  height: 220px;
}

#info-msg {
  padding: 2em;
  line-height: 200%;
  color: black;
  text-transform: uppercase;
  font-size: 11px;
  font-family: helvetica;
  letter-spacing: 0.05em;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#countdown {
  font-size: 35px;
  color: none;
  font-style: italic;
  display: block;
  height: max-content;
}

.friend-checker-wrapper {
  display: flex;
  position: fixed;
  width: 99vw;
  height: max-content;
  justify-content: center;
  top: 55vh;
}
.friend-checker {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "f1 f2 f3 f4"
    "f5 f6 f7 f8"
    "f9 f10 f11 f12";
}

.gift {
  width: 50px;
  height: 50px;
}

.friend-checker img {
  width: 60px;
  padding: 5px;
}

.gift:hover {
  background-color: darkgray;
}

.f1 {
  grid-area: f1;
}

.f2 {
  grid-area: f2;
}

.f3 {
  grid-area: f3;
}

.f4 {
  grid-area: f4;
}

.f5 {
  grid-area: f5;
}

.f6 {
  grid-area: f6;
}

.f7 {
  grid-area: f7;
}

.f8 {
  grid-area: f8;
}

.f9 {
  grid-area: f9;
}

.f10 {
  grid-area: f10;
}

.f11 {
  grid-area: f11;
}

.f12 {
  grid-area: f12;
}

.friend-checker * {
  position: relative;
}

.friend-checker *:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

#news-container {
  font-family: apoloHairlineItalic;
  text-transform: uppercase;
  text-align: justify;
  font-kerning: normal;
  letter-spacing: 0.02em;
  font-size: 16px;
  margin: auto;
}

#news-container ul li div {
}

.bottom {
  padding: 2em;
  min-height: 300px!important;
}

#memo {
  max-width: 100vw;
  font-size: 2.5em;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  letter-spacing: 0.1em;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  font-family: apoloBoldItalic;
  text-transform: uppercase;
}

.gift-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#multivide {
  bottom: 40px;
  right: 30px;
  position: absolute;
}

#multivide-logo {
  margin-bottom: -10px;
}

#scroller {
  height: 300px;
  overflow-y: scroll;
}

.left {
  width: 50vw;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.right {
  width: 50vw;
  text-align: left !important;
  flex-direction: column;
}

.full-flex-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
